<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ if not .IsHome }}{{ .Title }} — {{ end }}{{ .Site.Title }}</title>
  <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <link rel="stylesheet" href="{{ "css/style.css" | absURL }}">
  <script src="{{ "lucos_navbar.js" | absURL }}" type="module"></script>
</head>
<body>
  <lucos-navbar>{{ .Site.Title }}</lucos-navbar>
  <main class="container">
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="container">
    <p>&copy; {{ now.Year }} {{ .Site.Title }}</p>
  </footer>
</body>
</html>
