{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}
<ul class="post-list">
  {{ range .Paginator.Pages }}
  <li class="post-item">
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" }}</time>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ with .Params.tags }}
    <span class="tags">
      {{ range . }}<a href="{{ "/tags/" }}{{ . | urlize }}/" class="tag">{{ . }}</a> {{ end }}
    </span>
    {{ end }}
  </li>
  {{ end }}
</ul>
{{ template "_internal/pagination.html" . }}
{{ end }}
