{{ define "main" }}
<header class="site-header">
  <h1>{{ .Site.Title }}</h1>
  <p class="site-description">{{ .Site.Params.description }}</p>
</header>
<ul class="post-list">
  {{ range first 10 .Site.RegularPages }}
  <li class="post-item">
    <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 January 2006" }}</time>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    {{ with .Params.tags }}
    <span class="tags">
      {{ range . }}<a href="{{ "tags/" | absURL }}{{ . | urlize }}/" class="tag">{{ . }}</a> {{ end }}
    </span>
    {{ end }}
  </li>
  {{ end }}
</ul>
{{ if gt (len .Site.RegularPages) 10 }}
<p class="view-all"><a href="{{ "posts/" | absURL }}">View all posts &rarr;</a></p>
{{ end }}
{{ end }}
